<div id='subscribe-div' class='subscribe-newsletter display-none'>
  <span class='subscribe-toggle'> X </span>
  <div class='expendable'>
    <p> {{ site.t[page.locale].newsletter.title }} </p>

    <form id='subscribe-newsletter' action='{{site.mailchimp-list}}' autocomplete='off' method='post'>
      <div class='padding-bottom-5'>
        <input type='checkbox' name='TERMS' id='mce-TERMS' required> {{ site.t[page.locale].newsletter.accept-terms }} </input>
      </div>
      <input id='mce-EMAIL' placeholder='Email' name='EMAIL' type='email' required />
      <input type='text' value='N' name='SEGMENT' class='hidden' id='mce-SEGMENT'>
      <button id='submit-newsletter' class='button' name='submit' type='submit'> {{ site.t[page.locale].newsletter.submit }} </button>
    </form>
    <div id='invalid-email-message' class='error display-none'> {{ site.t[page.locale].newsletter.invalid-email-message }} </div>
    <div id='thank-you' class='correct display-none'> {{ site.t[page.locale].newsletter.thank-you }} </div>
    <div id='already-subscribed' class='error display-none'> {{ site.t[page.locale].newsletter.already-subscribed }} </div>
    <div id='terms-not-accepted' class='error display-none'> {{ site.t[page.locale].newsletter.terms-not-accepted }} </div>
  </div>
</div>
